{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title has-text-centered">Welcome to the Admin Panel</h1>
            <h2 class="subtitle has-text-centered">
                Manage your users efficiently!
            </h2>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="content">
            <p>You can perform the following tasks:</p>
            <ul>
                <li>
                    <strong>Manage users:</strong> Add, modify, or delete users.
                </li>
                <li>
                    <strong>Manage blog categories:</strong> Organize your blog
                    effectively.
                </li>
                <li>
                    <strong>Manage blog subcategories:</strong> Keep your
                    content structured.
                </li>
                <li><strong>And many more!</strong></li>
            </ul>
        </div>

        <p class="has-text-centered">
            <a class="is-info" href="/login/">Login to paint your canvas...</a>
            <!-- Nicely formatted login text link -->
        </p>
    </div>
</section>
{% endblock %}
